.about-us {
    /* max-width: 800px; */
    margin: 10px 20px;
    padding: 40px; /* Adjust padding to create space for the image */
    background-image: url('./logobg.png'); /* Add your image path here */
    background-size: 800px 700px; /* Set specific width and height for the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.about-us h2 {
    font-size: 2rem;
    color: #fff; /* Change text color to white or adjust for contrast */
    margin-bottom: 15px;
    text-align: center;
}

.about-us p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f9f9f9; /* Change text color to ensure visibility on background image */
    margin-bottom: 20px;
}

.about-us p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .about-us {
        padding: 15px;
    }

    .about-us h2 {
        font-size: 1.75rem;
    }

    .about-us p {
        font-size: 1rem;
    }
}
