.tabs {
  margin-top: 100px;
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
}

.tab.active {
 text-decoration: underline;

  color: white;
  font-weight: bold;
}

.content {
  margin-top: 20px;
  padding: 20px;
  min-height: 300px; /* Set a minimum height for the content area */
}
