body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

label {
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
}

select, input[type="radio"] {
  margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.residence-options label {
  margin-right: 15px;
}

.residence-options input[type="radio"] {
  margin-right: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.skip-btn, .next-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.skip-btn:hover, .next-btn:hover {
  background-color: #555;
}

.progress-bar {
  display: flex;
  margin-bottom: 20px;
}

.progress-bar span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 5px;
}

.progress-bar .completed {
  background-color: #4caf50;
}
