/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
header {
  background-color: #004080; /* Dark blue background */
  padding: 10px;
  color: white;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: #004080; /* Dark blue background */
  padding: 20px;
  color: white;
  text-align: center;
}

/* Scheme List Styles */
.scheme-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
  gap: 20px;
  padding: 20px;
}

/* Scheme Card Styles */
.scheme-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

/* Theme Styles */
:root {
  --background-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

[data-theme="dark"] button {
  background-color: #444;
  color: #fff;
}

[data-theme="light"] button {
  background-color: #FFBF78;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Header Styles */
  header {
    padding: 10px 5px;
  }

  /* Navigation Styles */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  /* Scheme List Styles */
  .scheme-list {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}

@media (max-width: 480px) {
  /* Header Styles */
  header {
    padding: 10px 5px;
  }

  /* Navigation Styles */
  nav ul {
    padding: 0;
  }

  nav a {
    font-size: 14px; /* Smaller font size on very small screens */
  }

  /* Footer Styles */
  footer {
    padding: 15px;
  }

  /* Scheme Card Styles */
  .scheme-card {
    padding: 15px;
  }
}